header {
  background-color: #C1E1DC;
  width: auto;
  border-radius: 50px;
  text-align: center;
  height: 90px;
  line-height: 90px;
}

.info {
  display: inline-block;
  width: 30%;
}

section {
  background-color: #FFCCAC;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

img {
  width: 200px;
  height: 200px;
}

.correct {
 color: green;
}

.incorrect {
 color: red;
}

.ulQues {
  width: 30%;
}

footer {
  background-color: #FFEB94;
}

footer div {
  display: inline-block;
}
